*,
*::after,
*::before {
    box-sizing: border-box;
}

.header {
    background-color: #576F35;
    display: block;
    width: 1280px;
    height: 52px;
    top: 32px;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    margin: 32px;
    
}
.svg_header {
    background-image: url(../images/sprite.svg);
}
.div_header {
    width: 498px;
    height: 52px;        
    background-color: #576F35;
    color: white;
    display: flex;    
    flex-direction: row;
    display: flex;
    align-items: center;
}
.div_two_header {
    gap: 20px;
    width: 498px;
    height: 52px;
    justify-content: flex-end;
}
.nav_header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.span_header {
    width: 186.67px;
    height: 16.67px;
    top: 2.22px;
    left: 28.89px;
}

.ul_header {
    gap: 8px;
    display: flex;
    font-style: normal;
    padding: 0px;
    list-style-type: none;
    
}
.list_header {
    border-radius: 12px 12px 12px 12px;
    width: 321px;
    height: 44px;
    color: white;
    border-color: white;
    border-style: solid;
    gap: 10px;
    padding: 12px;
    letter-spacing: 0.00em;
    font-family: 'Inter Tight';
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    border-width: 1px;
}
.button_header {
    color: white;
    background-color: #7A3145;
    width: 157px;
    height: 52px;
    border-radius: 30px 30px 30px 30px;
    padding-top: 16px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 16px;
    gap: 10px;
    border-style: none;
    position: relative;
    top: -16px;    


}
