/* 1. GENEL AYARLAR */
body {
  margin: 0;
  padding: 0;
  background-color: #7a3145; /* Chianti */
  font-family: "Inter Tight", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* 2. SECTION AYARI */
.Vegetables {
  padding: 100px 0;
}

/* 3. BAŞLIK ALANI */
.Vegetables-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-bottom: 52px;
}

.vegetables-title {
  font-size: 64px;
  font-weight: 600;
  line-height: 64px;
  letter-spacing: -1.5%;
  text-transform: uppercase;
  color: #ffffff;
}

.vegetables-title span {
  color: #d4bfc4;
}

.vegetables-text {
  max-width: 626px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #fbfbfb;
}

/* 4. KART LİSTE YAPISI */

.vegetables-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  max-width: 1080px;
  margin: 0 auto;
}

/* 5. HER BİR KART */
.vegetables-type {
  background-color: #fbfbfb;
  border-radius: 40px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

/* 6. GÖRSEL */
.vegetables-type img {
  width: 100%;
  height: auto;
  max-width: 280px;
}

/* 7. KART YAZI ALANI */
.vegatables-list-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

/* 8. SEBZE ADI */
.type-title {
  font-size: 32px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -1.5%;
  text-transform: uppercase;
  color: #7a3145;
}

/* 9. FİYAT */
.type-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #141414;
}
